[user]
	email = michael.bergman@sonicautomotive.com
	name = Mike Bergman
[core]
	excludefiles = /home/mbergman/.gitignore_global

[pull]
	rebase = true
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credentials]
	helper = manager-core
[fetch]
	prune = true
